
.logo {
  align: center;
  text-align: center;
  align-content: center;

}
.ion-button{
  align: center;
  text-align: center;
  align-content: center;

}
// #container {
//    text-align: center;
//    text-align: center;
//    align-self: center;
//   // position: relative;
//   left: 0;
//   right: 0;
//   top: 50%;

//   //transform: translateY(-50%);
// }
// img{
//   align-items: center;
//   text-align: center;
//   align-self: center;
//   margin-right: 0px;
//   padding-right: -40px;
// }
// ion-button {
//   align-items: center;
//   text-align: center;
//   margin-right: -20px;
//   padding-right: 20px;
// }
// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }
